body{
    /*background:slategray;*/
}
.wrapper{
 margin-left: 200px;
}
.basket1wrapper{
    float: left;
}
.baslet2wrapper{
    float: left;
    margin-left: 200px;
}
.binBasket{
    border: 2px solid tomato;
    width: 300px;
    height:250px;
    background-color: threedshadow;
    margin: 230px 0px 0px 200px;
}
.draggable{
    border: 2px solid tomato;
    width: 100px;
    height:20px;
    border-radius: 10px;
    text-align: center;
}
.basketContainer1{
    width: 300px;
    height:250px;
    border: 2px solid #eb8f00;
    background-color: yellow;
}

.basketContainer2{
    width: 300px;
    height:250px;
    border: 2px solid #eb8f00;
    background-color: pink;
}

